
<% layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3> Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" 
            placeholder=" Add a catchy title"
             type="text"
            class="form-control"
            required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
   
        <br>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"
            class="form-control" 
            required></textarea>
            <div class="invalid-feedback"> Please enter short description</div>
            </div>
        <br>
    
        <div>
            <label for="image" class="form-label">Upload Listing Image </label>  
           <input name="listing[image]"
            type="file" class="form-control">
            required
           </div>
        <br>
    <div class="row">
        <div class="col-md-4">
            <label for="price" class="form-label">Price</label> 
        <input name="listing[price]" placeholder="1200" 
         class="form-control"
         required>
         <div class="invalid-feedback"> Price should be valid</div>
        </div>
        <br>
        <div class="col-md-8">
        <label for="country" class="form-label">Country</label> 
        <input name="listing[country]" placeholder="india"
         type="text"  class="form-control" required>
         <div class="invalid-feedback">country name should be valid</div>
        </div>
    </div>
        <br>
        <div>
            <label for="location" class="form-label">Location</label> 
        <input name="listing[location]" placeholder="Kolkata,West Bengal" 
        type="text"  class="form-control" required>
        <div class="invalid-feedback">location name should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn" >Add</button>
        <br><br>
    </form>
    </div>
</div>
<!-- <script src="/js/script.js"></script> -->